

.main-color{
    font-family: 'Sacramento', cursive;
    color: #392b82;
    font-size: 2rem;
    font-weight: 600;
}
.bg-main{
    background-color: #392b82;
}
h2{
    color: #392b82;
    font-family: 'Sacramento', cursive;
    font-size: 70px;
    font-weight: 600;
}
/* h4{
    font-size: 2rem;
    font-weight: 600;
} */
.advisor{
    overflow: hidden;
    position: relative;
}
.brdr{
    height: 4px;
    width: 7%;
    background-color: #ccc;
}
.btn-index{
    background-color: #392b82;
    color: #fff;
}
.advisor p a {
    cursor: pointer;
}
.advisor .advisor-info{
    background-color: #fff;
    color:#392b82;
    position: absolute;
    bottom:30px;
    left:15px;
    right:15px;
    font-family: 'Sacramento', cursive;
    border: 3px solid #392b82;
    border-radius: 5px;
    transition: all 1s;
    transition-delay: 0.3s;
}
.advisor .advisor-info h4{
    font-size: 2rem;
    font-weight: 600;
}
.advisor img{
    width: 400px;
    height: 300px;
}
.advisor .advisor-info h4{
    margin: 0;
}
.advisors  a{
    right: 44%;
    bottom: -7%;
}
.advisor .advisor-overlay{
    background-color: rgba(57, 43, 130,0.7);
    position: absolute;
    height: 92%;
    bottom: 100%;
    left: 15px;
    right: 15px;
    border-radius: 5px;
    transition: all 1s;
}
.advisor-overlay p{
    font-size: 13px;
}

.advisor:hover .advisor-overlay{
    bottom: 15px;
}
.advisor:hover .advisor-info{
    bottom:-100%
}
